@keyframes entercookiebar {
    from {bottom: -20rem;}
    to {bottom: 0;}
}

.cookie-consent {
    animation: entercookiebar .75s forwards .5s ease-out;
    bottom: -20rem;
    border-radius: var(--bs-border-radius);
    background-color: white;
    color: #333;
    right: 0;
    z-index: 1000;
    position: fixed;
    box-shadow: 0 0 50px rgba(0,0,0, .25);
    margin: .5rem;
    max-width: 800px;

    h4 {
        font-size: 1.25rem;
        margin-bottom: .5rem;
        color: #333 !important;
    }

    .btn {
        margin-bottom: .5rem;
        display: block;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        &.btn-link:hover,
        &.btn-link:focus {
            background-color: transparent;
        }
    }
}

.cookie-group-table{
    font-size: .9rem;
}

.cookie-consent-field__label{
    font-weight: bold;
}

.cookie-consent-field__description{
    max-width: 600px;
}

.cookie-accordion{
    .accordion-button{
        font-weight: normal !important;
        font-family: var(--bs-body-font-family);
        font-size: 1rem;
    }
}

